:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif; 
    --backround-main: #F4F4FD;
    --background-secondary: #2E2F42;
} 

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============================== COMPONENTS ============================ */
.projects-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.feutures-subtitle,
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    color: #2E2F42;
}

.logo  {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    align-items: center;
    text-transform: uppercase;
}
/* ============================== /COMPONENTS ============================ */

/* ============================== HEADER  =============================== */
.header-logo {
    line-height: 1.33;
    color: #4D5AE5;
}

.header-web {
    color: var(--background-secondary)
}

.header {}

.header-list {
    font-weight: 500;
    line-height: 1.5;
}

.header-item {
    color: var(--background-secondary)
}

.nav .link:hover,
.nav .link:focus {
    color: #404BBF;
}

.header-list .link.current {
    color: #404BBF;
}

.address {}

.address-list {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.address-link:hover 
.address-link:focus {
    color: #404BBF;
}

.address-item {}

/* ============================== /HEADER ============================= */

/* ============================== HERO  =============================== */
.hero{
    background: var(--background-secondary)
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
/* ============================== /HERO =============================== */

/* ============================== FEUTURES ============================ */
.feutures-list {}

.feutures-item {}

.feutures-text {
    color: #434455;
    line-height: 1.5;
}
/* ============================== /FEUTURES ========================== */

/* ============================== PROJECTS =========================== */
.projects-list {}

.projects-item {}
/* ============================== /PROJECTS ========================= */

/* ============================== TEAM =============================== */
.team-title-list {}

.team-item {}

.team-text {
    line-height: 1.5;
    text-align: center;
    color: #434455;
}
/* ============================== /TEAM =============================== */

/* ============================== FOOTER =============================== */
.footer {
    background: var(--background-secondary)
}

.footer-logo {
    line-height: 1.33;
    color: #4D5AE5;
}

.footer-web {
     color: #F4F4FD;
}

.footer-text {
    line-height: 1.5;
    color: #E7E9FC;
}
/* ============================== /FOOTER =============================== */

/* ============================== PORTFOLIO PAGE ======================= */
.portfolio-page-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
}

.portfolio-page-btn:hover,
.portfolio-page-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;;
}

.portfolio-pg-namecard {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-secondary);
}

.portfolio-pg-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;;
}
/* ============================== /PORTFOLIO PAGE ======================= */